.phil {
	background-color: $blue;
}

.philosophy {
	padding: 20px 0 0 !important;
}

.philosophy button {
	@extend %learnBtn;
	color: $white;
	background-color: $blue;

	&:hover {
		background-color: darken($blue, 5%)
	}
}

%blueBox {
	background-color: $blue;
	color: $white;
	padding: 20px 0;
}

.philosophy, .proposal {
	@extend %blueBox;
}

.portrait {
	display: block;
	width: 70vw;
	max-width: 400px;
	margin: 50px auto;
}

.quote {
	text-align: center;
}

.why {
	max-width: 1024px;
	margin: 0 auto;
}

.whyBtn-box {
	width: 100%;
	text-align: center;
}

.whyBtn {
	background-color: $darkblue;
	color: $white;
	border: none;
	padding: 8px 8px 5px;

	&:hover, &:focus {
		background-color: lighten($darkblue, 10%);
	}

	&:active {
		background-color: darken($darkblue, 10%);
	}
}