.philosophy button {
	@extend %learnBtn;
	color: $white;
	background-color: $blue;
}

%blueBox {
	background-color: $blue;
	color: $white;
	padding: 20px 0;
}

.philosophy, .proposal {
	@extend %blueBox;
}

.portrait {
	display: block;
	width: 70vw;
	max-width: 500px;
	margin: 50px auto;
}

.quote {
	text-align: center;
}